<footer class="flex justify-center items-center h-16">
    <div class="pr-4">
        door
        <a class="text-blue-600 hover:underline" href="https://www.geensnor.nl"
            >geensnor.nl</a
        >
    </div>
    <div class="pl-4">
        <a href="https://github.com/geensnor/stroomkosten-besparing-berekenen"
            ><img class="w-6 h-6" src="/GitHub-Mark-120px-plus.png" />
        </a>
    </div>
</footer>
